<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.web>
  <httpRuntime maxQueryStringLength="2097151" maxUrlLength="2097151" />
  <httpCookies httpOnlyCookies="true" sameSite="strict" requireSSL="true" />
</system.web>
<system.webServer>
<security>
<requestFiltering removeServerHeader ="true">
<requestLimits maxQueryString="2097151" />
<verbs allowUnlisted="true">
          <add verb="OPTIONS" allowed="false" />
          <add verb="TRACE" allowed="false" />
          <add verb="CONNECT" allowed="false" />
</verbs>
</requestFiltering>
</security>
<rewrite>
<rules>
  <rule name="HTTP to HTTPS redirect" stopProcessing="true">
    <match url=".*" />
    <conditions>
    <add input="{HTTPS}" pattern="off" ignoreCase="true" />
    </conditions>
    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
  </rule>
  <rule name="AngularJS Routes" stopProcessing="true">
    <match url=".*" />
    <conditions logicalGrouping="MatchAll">
    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
    </conditions>
    <action type="Rewrite" url="/int/index.html" />
  </rule>
</rules>
<outboundRules>
</outboundRules>
</rewrite>
<!-- Make sure error responses are left untouched -->
<httpErrors existingResponse="Auto" />
<staticContent>
  <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
  <mimeMap fileExtension=".json" mimeType="application/json" />
  <mimeMap fileExtension=".kml" mimeType="application/kml" />
  <mimeMap fileExtension=".csv" mimeType="application/csv" />
</staticContent>
<httpProtocol>
<customHeaders>  
  <remove name="X-Powered-By"/> 
  <add name="X-Frame-Options" value="SAMEORIGIN" />
   <add name="Content-Security-Policy" 
       value="default-src 'self' data: *.zopim.com *.zendesk.com *.jsdelivr.net *.smooch.io login.microsoftonline.com *.b2clogin.com static.zdassets.com *.zopim.com *.signalr.net maps.gstatic.com maps.googleapis.com;
       object-src 'self' data:;
       style-src 'self' 'unsafe-inline'
       fonts.googleapis.com cdn.ckeditor.com;
       connect-src wss: https:;
       base-uri 'self';
       script-src 'self' 'strict-dynamic' 'sha256-maqDExIpmR/IHAmL3YUZ33zmc7HzMWYhure4CjnFlV0=';
       script-src-elem 'self' 'unsafe-inline' *.service.signalr.net maps.googleapis.com cdn.ckeditor.com static.zdassets.com *.azurewebsites.net *.login.microsoftonline.com 
       *.zdassets.com *.azurewebsites.net *.signalr.net *.zendesk.com google.com gstatic.com api.smooch.io maps.gstatic.com maps.googleapis.com *.jsdelivr.net *.smooch.io;
       img-src 'self' *.zendesk.com 
       maps.gstatic.com maps.googleapis.com cdn.ckeditor.com *.sendgrid.net *.zopim.io data: mediastream: blob: 
       filesystem:; font-src 'self' fonts.gstatic.com" />

</customHeaders>
</httpProtocol>
</system.webServer>
</configuration>