@import "src/assets/css/mixins";

/* Added styles to handle table's keyboard accessibility */
.table-responsive {
    tr[tabindex="0"]:focus-visible {
        outline: none;
        background: rgba(0, 163, 246, 0.3) !important;
    }
    
    mat-row[tabindex="0"]:focus-visible {
        outline: none;
        background: rgba(0, 163, 246, 0.3) !important;
    }

    /* Added styles to handle edit/delete buttons keybaord accessibility in table */
    .action-items {
        a, span.action-btn {
            display: inline-block;
            padding: 3px 3px 1px;
            @include outline-without-focus();

            &:focus {
                outline: none;
            }

            &:focus-visible {
                @include outline-with-focus();
            }
        }
    }

    /* Added styles to handle pagination buttons keybaord accessibility in table */
    mat-paginator {
        mat-form-field .mat-form-field-flex {
            @include outline-without-focus();
        }

        mat-form-field.mat-focused .mat-form-field-flex {
            @include outline-with-focus();
        }

        .mat-paginator-range-actions button {
            @include outline-without-focus();
        }

        .mat-paginator-range-actions button:focus-visible {
            @include outline-with-focus();
        }
    }
}
/* Added styles to handle mat-card button's keyboard accessibility */
mat-card .mat-card-actions {
    button,
    a.mat-stroked-button.mat-button-base {
        @include outline-without-focus(); /* Keyboard A11y: Included styles for deafult outline border */
    }

    button:focus-visible{
        @include outline-with-focus(); /* Keyboard A11y: Included styles for outline border when element is focused */
    }

    a.mat-stroked-button.mat-button-base:focus-visible {
        @include outline-with-focus(); /* Keyboard A11y: Included styles for outline border when element is focused */
    }
    
}

/* Added styles for form button's keyboard accessibility */
form {
    .btn-area button {
        @include outline-without-focus(); /* Keyboard A11y: Included styles for deafult outline border */
    }

    .btn-area button:focus-visible {
        @include outline-with-focus(); /* Keyboard A11y: Included styles for outline border when element is focused */
    }
}

/* Added styles for mat-dialog buttons keyboard accessbility */
.mat-dialog-actions{
    button {
        @include outline-without-focus(); /* Keyboard A11y: Included styles for deafult outline border */
    }

    button:focus-visible {
        @include outline-with-focus(); /* Keyboard A11y: Included styles for outline border when element is focused */
    }
}
// for screen reader only */
.sr-only {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  //for color contrast
  .mat-paginator-container{
    div{
        color: #757575;
    }
  }
  /* for accessibility only css - end */