@font-face {
    font-family: "Intel-Clear";
    src: url(../fonts/IntelClear_Rg.woff2);
}

@font-face {
    font-family: "IntelOne-Display-Light";
    src: url(../fonts/intelone-display-light.woff2);
}

@font-face {
    font-family: "IntelOne-Display";
    src: url(../fonts/intelone-display-regular.woff2);
}

@font-face {
    font-family: "IntelOne-Text";
    src: url(../fonts/intelone-text-regular.woff2);
}

$intel-clear: "Intel-Clear";
$intelOne-text: "IntelOne-Text";
$intelOne-display: "IntelOne-Display";
$intelOne-display-light: "IntelOne-Display-Light";