@import "src/assets/css/mixins";

.mat-tab-header {
    border-bottom: 1px solid $table-border;
}

.table-header {

    .mat-toolbar.tabs {
        border-bottom: 1px solid $table-border;
        height: 45px;
        background-color: $white;
    }

    .mat-toolbar.header-title {
        border-bottom: 1px solid $table-border;
        background-color: $white;
    }
}


.mat-divider {
    border-top-color: #3592D6;
}


.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #3592D6 !important;
}

/** Added error color code */
.mat-form-field-invalid .mat-form-field-outline {
    color: #B3261E !important;
}

/** Added error color code for label */
.mat-form-field.mat-form-field-invalid .mat-form-field-label mat-label{
    color: #B3261E !important;
}

/** Added error color code for dropdown down arrow  */
.mat-form-field .mat-select.mat-select-invalid .mat-select-arrow {
    color: #B3261E !important;
}

.mat-button-focus-overlay {
    display: none;
    background-color: transparent !important;
    outline: none;
}

.child-class .mat-dialog-container {
    width: 540px;
    height: 320px;
    padding: 0%;
    overflow: visible;
}

.parent-class .mat-dialog-container {
    width: 540px;
    height: 490px;
    padding: 0%;
    overflow: visible;
    border-radius: 10px !important;
}

.tags-dialog .mat-dialog-container {
    width: 200px;
    height: 250px;
    padding: 0%;
    overflow: visible;
    border-radius: 10px !important;
}

.mat-dialog-container {
    border-radius: 10px !important;
}

.mat-form-field-suffix .mat-icon-button {
    @include outline-without-focus();

    &:focus {
        outline: none;
    }

    &:focus-visible {
        @include outline-with-focus();
    }
}

.mat-calendar-arrow {
    fill: $secondary;
}

.mat-calendar-period-button {
    @include outline-without-focus();

    &:focus {
        outline: none;
    }

    &:focus-visible {
        @include outline-with-focus();
    }
}

.mat-datepicker-toggle,
.mat-datepicker-content .mat-calendar-next-button,
.mat-datepicker-content .mat-calendar-previous-button {
    @include outline-without-focus();

    &:focus {
        outline: none;
    }

    &:focus-visible {
        @include outline-with-focus();
    }
}

.mat-calendar-body-selected {
    background-color: $secondary;
}

/* Commented this style as this is not used any where in the application */
// .mat-chip {
//     background: #2196f30a !important;
//     border: 1px solid $secondary  !important;
// }

.mat-chip-remove {
    color: $secondary  !important;
}

.mat-snack-bar-container{
    background: rgb(193, 40, 40);
    color: white;

    .mat-simple-snackbar-action {
        color: white;
        border: 2px solid white;
    }
    
}

.mat-button-disabled,.mat-icon-disabled{
    color: rgba(0, 0, 0, 0.26) !important;
}

.mat-tooltip{
    &.tooltip{
        max-width: 100%;
        font-size: 12px;
    }
}

/* Added this style to mat-select dropdown */
mat-select.mat-select {
    .mat-select-arrow {
        color: rgba(0, 0, 0, 0.54);
    }
}

/* Added this style to reduce the height of mat-form-field */
mat-form-field.mat-form-field {
    .mat-form-field-infix {
        border-top: 0.5em solid transparent !important;
    }
    .mat-hint {
        font-family: $intel-clear;
        font-size: 12px;
    }
}
/* Added style for filter dropdown */
mat-form-field.filter-dropdown {
    .mat-form-field-wrapper {
        padding-bottom: 0;
        .mat-form-field-outline {
            color: rgba(0, 0, 0, 0.42);
            background: #fff;
            height: 40px;
        }
        .mat-form-field-infix {
            padding: 0.6em 0;
            .mat-select-arrow-wrapper {
                transform: none;
            }
        }
    }
}

/* Added style for filter search */
mat-form-field.filter-search {
    .mat-form-field-wrapper {
        padding-bottom: 0;
        .mat-form-field-outline {
            color: rgba(0, 0, 0, 0.42);
            background: #fff;
            height: 40px;
        }

        .mat-form-field-infix {
            padding: 0.6em 0;
        }

        .mat-form-field-prefix {
            top: 0.5em;
        }
    }

    ::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #000;
        font-weight: 400;
        font-size: 16px;
    }

    :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #000;
        font-weight: 400;
        opacity: 1;
        font-size: 16px;
    }

    ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #000;
        font-weight: 400;
        opacity: 1;
        font-size: 16px;
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #000;
        font-weight: 400;
        font-size: 16px;
    }

    ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #000;
        font-weight: 400;
        font-size: 16px;
    }

    ::placeholder {
        /* Most modern browsers support this now. */
        color: #000;
        font-weight: 400;
        font-size: 16px;
    }
}

/* Table pagination style */
mat-paginator.mat-paginator {
    .mat-select-arrow {
        color: rgba(0, 0, 0, 0.54);
    }
    .mat-paginator-icon {
        fill: rgba(0, 0, 0, 0.54);
    }
}

/* Added style for mat-radio button */
mat-radio-button.mat-radio-button {
    .mat-radio-label-content {
        display: flex;
        align-items: center;
    }
}